* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight {
  margin-left: 20px;
}

.app__header {
  object-fit: contain;
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: white;
  padding: 2px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__headerImage {
  object-fit: contain;
  width: 170px;
}

.app__signUpContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}

.app__phone {
  height: 500px;
}

.app__signUp {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  background-color: white;
  width: 350px;
  padding: 20px;
  height: 300px;
  justify-content: space-around;
}